
.ticket-item {
  height: 370px;
  border: 1px solid #dad5d5;
  border-radius: 5px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  transition: transform .5s ease-in-out;

  & .ticket-title {
    font-weight: bold;
  }

  & img {
    height: 80%;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}

.ticket-item:hover {
  transform: scale(1.05);
  background-color: rgba(59, 130, 246, 0.2);
  transition: transform .5s ease-in-out, background-color .5s ease-in-out;
}

.ticket-title::after {
  margin-top: .4rem;
  margin-bottom: .4rem;
  content: "";
  height: 1px;
  background: rgba(127, 127, 127, 0.3);
  display: block;
}
.parent{
  position: relative;
}
.child{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.input-box {
  position: relative;
}

input {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  width: 220px;
}

label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  z-index: 1;

}


