td:hover {
  cursor: pointer;
}

.table-header {
  font-size: 1.2rem;
  color: rgba(59, 130, 246, 0.8);
  padding: 1rem;
}

.user-card,.empty-list {
  padding: 1rem;
}

.newOrder{
  color: rgba(59, 130, 246, 0.8);
}
.approvedOrder{
  color: rgba(22, 171, 10, 0.8);
  font-weight: bold;
 }
.width {
  width: 180px !important;
}

.parent{
  position: relative;
}
.child{
  position: absolute;
  top: 25%;
  left: -25%;
  padding: 0 5px;
  z-index: 1;
}
a{
  cursor: pointer;
}
